---
Language: Cpp
# BasedOnStyle : Microsoft 
# Force pointers to the type for C++.
AlignAfterOpenBracket: Align
# AlignAfterOpenBracket: AlwaysBreak
# AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
# AlignConsecutiveBitFields: true 
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros : true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine : false
AllowAllConstructorInitializersOnNextLine : false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine : Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType : None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations : false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel : true
  AfterClass: false
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakAfterJavaFieldAnnotations : false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializers : AfterColon
BreakInheritanceList : AfterColon
BreakStringLiterals: false
ColumnLimit: 160
CompactNamespaces : false
ConstructorInitializerAllOnOneLineOrOnePerLine : false
Cpp11BracedListStyle: true
DerivePointerAlignment: true
DisableFormat: false
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation : All
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot : false
SpaceAfterTemplateKeyword : false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon : false
SpaceBeforeInheritanceColon : false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock : false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles : false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 2
UseTab: Never
---

